.scalex-section-two{
    padding: 4rem 0rem;
    background: #EFEFF9;


    &__card{
        padding: 1rem 2rem;
        margin: 1rem .6rem;
        background: $color-white;
        box-shadow: 6px 10px 30px rgba(42, 34, 129, 0.15);
        border-radius: 10px;
        border: none;

        p{
            color: #AFAFAF;
            font-size: 12px;

            img{
                width: 18px;
                width: 18px;
            }
        }

        h4{
            font-weight: 600;
            font-size: 20px;
        }

        h5{
            font-weight: normal;
            font-size: 16px;
            color: $color-blue;
        }
    }
}

.scalex-section-three{
    background: #F4F8FC;
    padding: 4rem 0rem;

    &--no-app{

        h4{
            font-weight: 600;
            font-size: 40px;
            text-transform: capitalize;

            span{
                color: $color-blue;
                
            }
        }

        p{
            padding-top: 2rem;
            margin-bottom: 0rem;
        }
    
    }

    &__card{
        margin: 2rem 0rem;
        padding: 2rem 1rem;
        background: #FFFFFF;
        box-shadow: 11px 11px 38px rgba(27, 89, 160, 0.05);
        border-radius: 10px;
        border: none;


        h3{
            color: #206FC9;
            opacity: 0.2;
            font-size: 33px;
            font-weight: 600;
        }

        h4{
            font-weight: 600;
            font-size: 24px;
            padding-top: 2rem;
            padding-bottom: 1rem;
           

            span{
                color: $color-blue;
            }
        }

        p{
            color: #66788D;
            padding: 1rem 0rem;
            line-height: 176%;
        }
    }
}


.scalex-section-four{
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 3rem 1rem;

    &__left{
        padding: 5rem 3rem;

        @media screen and (max-width: $bp-medium) and (min-width: $bp-small){
            padding: 3rem 0rem;
        }

        @media screen and (max-width: $bp-small) and (min-width: 10em){
            padding: 5rem 0rem;
        }

        h2{
            font-style: normal;
            font-weight: 600;
            font-size: 36px;

            @media screen and (max-width: $bp-small) and (min-width: 10em){
                font-size: 29px;
            }
        }

        
    }

    &__right{

        &--charge-image{
            display: block;
            margin: 0 auto;
            width: 350px;
            height: 350px;
        }

        &__card{
            position: absolute;
            top: 58%;
            padding: .7rem;
            background: #FFFFFF;
            box-shadow: 12px 4px 48px rgba(27, 89, 160, 0.17);
            border-radius: 10px;
            border: none;

            @media screen and (max-width: $bp-medium) and (min-width: $bp-small){
                left: 25%;
            }

            @media screen and (max-width: $bp-small) and (min-width: $bp-x-small){
                left: 15%;
                top: 65%;
            }

            @media screen and (max-width: $bp-x-small) and (min-width: 10em){
                left: 20%;
                top: 65%;
            }

            

            span{
                padding: 1rem 2.3rem;

                @media screen and (max-width: $bp-medium) and (min-width: $bp-small){
                    padding: 1rem 1.3rem;
                }
            }

            p{
                color: #878282;
                font-size: 10px;
                margin-bottom: 0rem;
                padding-top: .4rem;
                text-align: center;
            }

            &--one{
                border-right: 0.5px solid rgba(0, 108, 186, 0.1);
            }
            &--two{
                border-bottom: 0.5px solid rgba(0, 108, 186, 0.1);
            }
            &--three{
                border-top: 0.5px solid rgba(0, 108, 186, 0.1);
            }
            &--four{
                border-left: 0.5px solid rgba(0, 108, 186, 0.1);
            }

            &__image-wrapper{
                padding: 13px;
                background: #FFFFFF;
                box-shadow: 4.43892px 1.47964px 17.7557px rgba(27, 89, 160, 0.17);
                border-radius: 50%;

                &--image{
                    display: block;
                    margin: 0 auto;
                    width: 22px;
                    height: 22px;
                }
            }

        }
    }
}