.scalex-fees{
    padding: 5rem 0rem;


    &--title{
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        color: $color-black;

    }

    .nav-link{
        color: #000000 !important;
        opacity: 0.5;
        border: none;
        cursor: pointer;
        text-align: center;
        

        @media screen and (max-width: $bp-x-largest) and (min-width: $bp-medium){
            padding: .5rem 4rem;
        }

        &:hover{
            border-color: transparent;
           
        }

    }

    .nav-tabs{
        border-bottom: none;
    }

    .active{
        color: $color-white !important;
        font-weight: 600 !important;
        background: $color-blue !important;
        opacity: 2;
        border-radius: 10px;
    }

    &--tab{
        background: #FFFFFF;
        box-shadow: 6px 10px 30px rgba(42, 34, 129, 0.15);
        border-radius: 10px;
        padding: .3rem;
    }

}