.scalex-privacy-policy{
    padding: 5rem 0rem;


    &--title{
        padding: 2rem;
        padding-bottom: 4rem;
        text-align: center;
        font-weight: bold;
        font-size: $font-large;
    }

    &__wrapper{

        p{
            font-size: $font-small;
        }

        h3{
            margin-bottom: 1.5rem;
            font-size: $font-large;
            font-weight: 600;
        }
    }
}