.scalex-footer{
    background: #F7F7F7;
    padding: 1rem 0rem;


    p{
        margin-bottom: 0rem;
        font-size: 18px;

        @media screen and (max-width: $bp-small) and (min-width: 10em){
            float: none;
            font-size: 14px;
        }
    }


    &--socials{
        img{
            width: 25px;
            height: 25px;
        }
    }
}

.scalex-action{


    &__wrapper{
        border-radius: 30px;
        background: $color-blue;
        padding: 4rem 0rem;
        margin: 3.5rem 0rem;

        
        @media screen and (max-width: $bp-x-small) and (min-width: 10em){
            padding: 2rem ;
        }



        &--right{
            

            h5{
                font-size:  $font-large;
                color: $color-white;
                padding-left: 4rem;

                @media screen and (max-width: $bp-bit-large) and (min-width: $bp-small){
                    padding-left: 1rem;
                }

                @media screen and (max-width: $bp-small) and (min-width: 10em){
                    font-size:  $font-medium;
                    padding-left: 0rem;
                    text-align: center;
                }
            }

        }

        &--left{
            padding-top: 2rem;
            text-align: center;


            a{
                display: block;
                margin: 0 auto;
             

                @media screen and (max-width: $bp-small) and (min-width: 10em){
                    text-align: center;
                }
            }
            
            .btn{
                font-size: $font-medium;
            }
        }

        

    }
}